@CHARSET "UTF-8";
*{margin:0px;padding:0px;}
body{overflow-x:hidden;}

#divlll1{border:1px solid;width:1915px;height:80px;}
#divlll1 span{border:0px solid;width:300px;height:38px;font-size:50px;line-height:80px;position:relative;left:500px;px;font-weight:bolder;letter-spacing:10px}

#divlll2{border:1px solid;width:300px;height:618px;float:left;}

.ull21{margin: 0px;padding:0px;border:0px solid;width:298px;height:500px;margin-top:30px;}
.lii21{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;}
.lii21 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii22{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii22 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii23{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii23 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii24{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii24 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii25{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii25 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii26{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii26 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii27{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii27 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}
.lii28{margin: 0px;padding:0px;border:0px solid;width:296px;height:40px;margin-top:20px;}
.lii28 a{border:0px solid red;font-size: 25px;line-height:40px;font-weight: bolder;color:black;text-decoration: none;}

.lii21 a:hover{background-color:#0044BB;color:white;}
.lii22 a:hover{background-color:#0044BB;color:white;}
.lii23 a:hover{background-color:#0044BB;color:white;}
.lii24 a:hover{background-color:#0044BB;color:white;}
.lii25 a:hover{background-color:#0044BB;color:white;}
.lii26 a:hover{background-color:#0044BB;color:white;}
.lii27 a:hover{background-color:#0044BB;color:white;}
.lii28 a:hover{background-color:#0044BB;color:white;}


#divlll3{border:1px solid;width:1061px;height:618px;float:left;}
.divlll3_1{border:0px solid;width:1061px;height:555px;margin-top: 30px;}
#table111{border:0px solid;width:1061px;height:50px;}
#table111 td{border:0px solid;font-size:25px;text-align:center;}
#table111 tr{background-color:black;color:white;}
.td1_1{width:41px;}
.td1_2{width:65px;}
.td1_3{width:70px;}
.td1_4{width:45px;}
.td1_5{width:45px;}
.td1_6{width:151px;}
.td1_7{width:130px;}
.td1_8{width:45px;}
#table222{border:0px solid;width:1061px;height:50px;}
#table222 td{border:1px solid;font-size:25px;text-align:center;height:50px;}
.td2_11{width:45px;}
.td2_22{width:70px;}
.td2_33{width:60px;}
.td2_44{width:60px;}
.td2_55{width:50px;}
.td2_66{width:140px;}
.td2_77{width:130px;}
.td2_88{width:45px;}
.td2_88 a{color:blue;text-decoration: none;font-weight: bolder;}